.form_submit_inactive {
    border: solid 1px rgba(0, 0, 0, 0.15);
    color: rgba(0, 0, 0, 0.15);
    background-color: white;
}

.form_submit_inactive:hover {
    background-color: white;
    cursor: auto;
}